.container {
  display: flex;
  align-items: center;
}

.select {
  background-color: black;
}

.icon {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
}

.menuItem {
  background-color: blue;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.flag {
  width: 34px;
  height: 25px;
}